# Handle line endings automatically for files detected as text 
# and ensure they are converted to LF on check-in
* text=auto eol=lf

# Explicitly force LF for specific ecosystem files
Dockerfile text eol=lf
*.sh       text eol=lf
*.py       text eol=lf
*.sql      text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf
*.json     text eol=lf

# Denote all files that are truly binary and should not be modified
*.png      binary
*.jpg      binary