# docker-compose.yml

# accessing bash shell for a service: docker-compose exec <service_name> bash

services:
  #Service 1: PostgreSQL Database
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
    #secrets: To be added for production

  #Service 2: Airflow Webserver
  airflow-webserver:
    build: .

    image: cve-airflow:latest
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/repo/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__WEBSERVER__SECRET_KEY: 'new0535341996!'
      # For later version of Airflow, default auth manager is SimpleAuthManager so we change it to FabAuthManager
      AIRFLOW__CORE__AUTH_MANAGER: "airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager"
      AIRFLOW__CORE__HOSTNAME_CALLABLE: "airflow.utils.net.get_host_ip_address"
      PYTHONPATH: /opt/airflow/repo/src
      GCLOUD_APP_CREDENTIALS: /opt/airflow/secrets/cisa-cve-data-pipeline-a26a62e94ef3.json
    ports:
      - "8080:8080"
    volumes:
      - ./:/opt/airflow/repo
      - ./secrets:/opt/airflow/secrets:ro

    command: bash -c "airflow db migrate && 
                      airflow users create 
                      --username airflow 
                      --password airflow 
                      --firstname Air 
                      --lastname Flow 
                      --role Admin 
                      --email junaidwork456@gmail.com
                      && airflow webserver"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    #secrets:

  #Service 3: Airflow Scheduler
  airflow-scheduler:
    build: .

    image: cve-airflow:latest
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/repo/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__AUTH_MANAGER: "airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__CORE__HOSTNAME_CALLABLE: "airflow.utils.net.get_host_ip_address"
      AIRFLOW__WEBSERVER__SECRET_KEY: 'new0535341996!'
      PYTHONPATH: /opt/airflow/repo/src
      GCLOUD_APP_CREDENTIALS: /opt/airflow/secrets/cisa-cve-data-pipeline-a26a62e94ef3.json


    volumes:
      - ./:/opt/airflow/repo
      - ./secrets:/opt/airflow/secrets:ro

    command: airflow scheduler

volumes:
  postgres_data:
