# docker-compose.yml
version: '3.8'

services:
  #Service 1: PostgreSQL Database
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: junaid
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "junaid"]
      interval: 10s
      timeout: 5s
      retries: 5
    #secrets: To be added for production

  #Service 2: Airflow Webserver
  airflow-webserver:
    image: apache/airflow:2.7.0-python3.9
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/repo/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://junaid:password123@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      PYTHONPATH: /opt/airflow/repo/src
    ports:
      - "8080:8080"
    volumes:
      - ./:/opt/airflow/repo

    command: bash -c "airflow db upgrade && 
                      airflow users create 
                      --username airflow 
                      --password airflow 
                      --firstname Air 
                      --lastname Flow 
                      --role Admin 
                      --email junaidwork465@gmail.com 
                      || true
                      && airflow webserver"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    #secrets:

  #Service 3: Airflow Scheduler
  airflow-scheduler:
    image: apache/airflow:2.7.0-python3.9
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/repo/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://junaid:password123@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      PYTHONPATH: /opt/airflow/repo/src

    volumes:
      - ./:/opt/airflow/repo

    command: airflow scheduler

volumes:
  postgres_data:
